{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<storage-connection-string>",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "VISION_ENDPOINT": "<cv-endpoint>",
    "VISION_KEY": "<cv-key>",
    "SPEECH_KEY": "<speech-key>",
    "SPEECH_REGION": "<speech-region>"
  }
}